
/*mobile first */

body{
  /* font-family: 'PT Sans', sans-serif ; */
  width: 100%;
}

.header{

}

h2{
  color: #4db6ac;
  text-align: center;
}

.header i{
  color: #ff8a65;
}

.datepicker{
  background-color: blue;
  width: 100%;
}

.buttons{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.type-buttons{
  display: flex;
  flex-direction: row;
}

.log-event{
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  width: 25%;
  margin-right: 10px; 
  margin-bottom: 1em;
  background-color: #8080801f;
}

.icon{
  border-radius: 50%;
  background-color: #cdddfc;
  padding: 6px;
} */

.icon-label{
  padding: 2px;
}

/* .submit{
  background-color: #6799f554;
  width: 25%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 4px;
}  */

.notes{
  background-color: #8080804d;
  width: 80%;
  padding: 10px;
  margin-bottom: 2em;
}
  
.timeline-background{
  
  width: 100%;
  
}

.timeline-background div{
  background-color: white;
}

.timeline-background p{
  margin-top: 10px;
}









#data-tables{
  display: flex;
  flex-direction: column; 
  background-color: #6799f554;
  /* text-align: center; */
  border-radius: 5%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 5px 5px 5px 5px;
}

.data-tables-inner{
  border-radius: 10px;
  border: solid 1px lightgray;
  background-color: white;
  margin: 5px;
}

#catch-table-div, #miss-table-div{
  width: 100%;
  margin: 0 auto;
}

#catch-table th{
  background-color: #69ce764f;
}
#miss-table th{
  background-color: #ce79884f;
}

table, th, td {
  border: 1px solid gray;
 
}

table {
  margin: 0 auto; 
}

#miss-table{
  margin: 0 auto; 
}

tr, td{
  padding: 6px;
  
}



/*tablets*/
@media screen and (min-width: 768px){

  .input-file-tab-inner-inner{
    display: flex;
    flex-direction: row;
    padding: 40px;
    width: 90%;
  
  }

  .catches{
    width: 50%;
  }

  .misses {
    width: 50%;
  }

  .data-tables-inner{
    display: flex;
    flex-direction: row;
    padding: 40px;
  }


}

@media screen and (min-width: 1224px){

  .input-file-tab-inner-inner{
    
  }

  h1{
    font-size: 3em;
  }

  p{
    font-size: 2em;
  }

  .catches{
    width: 30%;
    margin-left: 10%;
    font-size: 1.5em;
    padding: 1.5em;
  }
  .misses{
    width: 30%;
    font-size: 1.5em;
    margin-left: 10%;
    padding: 1.5em;
  }

  .input-rows{
   
  }
  .input-rows label{
    font-size: 1.5em;
  }

  .input-rows select{
    font-size: 1.2em;
    text-align: center;
  }

  

  label{
    font-size: 20px;
  }
  
  #submit-catch{
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 1.5em;
  }

  #submit-miss{
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 1.5em;
  }

  #chart{
    font-size: 2em;

  }

  #data-tables{
    font-size: 2em;
  }
}



